﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sylabus", "Index", "Sylabus")</li>
                    <li>@Html.ActionLink("Roles", "Index", "Admin/UserRoles")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <form>
            <p> Los Input-radio de antes: </p>
            <div>
                <input id="a1" type="radio" name="a" value="visa" />
                <label for="a1">Visa</label><br />
                <input id="a2" type="radio" name="a" value="mastercard" />
                <label for="a2">Mastercard</label>
            </div><br />
            <p>Ahora, con CSS3: </p>
            <div class="cc-selector">
                <input id="visa" type="radio" name="credit-card" value="visa" />
                <label class="drinkcard-cc visa" for="visa"></label>
                <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
                <label class="drinkcard-cc mastercard" for="mastercard"></label>
            </div>
        </form>
        <small>
            <a style="" href="https://github.com/rcotrina94/icons">
            </a>
        </small>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
