﻿@model KRK_ASP_Sroda_12.ViewModels.SylabusIndexViewModel


@{
    ViewBag.Title = "Index";
}   

<h2>Index</h2>

@using (Html.BeginForm("Index", "Sylabus", FormMethod.Get))
{

    <div class="form-horizontal">
        <h4>Sylabus</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.FieldOfStudyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FieldOfStudyId, Model.FieldOfStudies, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FieldOfStudyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filtruj" class="btn btn-default" />
            </div>
        </div>
    </div>
}
d
<p>
    @Html.ActionLink("Nowy", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa przedmiotu")
        </th>
        <th>
            @Html.DisplayName("Symbol")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class="btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
